<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lihao.semicareer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".application.CoreApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="598c5f22a325112fdb00165a" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="LihaoLocalTest" />

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.JobSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransluteActivityTheme" />
        <activity
            android:name=".activity.JobDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransluteActivityTheme" />
        <activity
            android:name=".activity.CompanyDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransluteActivityTheme" />
        <activity
            android:name=".activity.JobListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransluteActivityTheme" />
        <activity
            android:name=".activity.CompanyListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransluteActivityTheme" />
        <activity
            android:name=".activity.MyMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransluteActivityTheme" />
        <activity
            android:name=".activity.ResumeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransluteActivityTheme" />
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransluteActivityTheme" />
        <activity
            android:name=".activity.MessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransluteActivityTheme" />
        <activity
            android:name=".activity.SendHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransluteActivityTheme" />
        <activity
            android:name=".activity.NewsDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransluteActivityTheme" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransluteActivityTheme" />
        <activity
            android:name=".activity.CompanySearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransluteActivityTheme" />
        <activity
            android:name=".activity.CollectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransluteActivityTheme" />
        <activity
            android:name=".activity.CompanyJobListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransluteActivityTheme" />
        <activity
            android:name=".activity.ReflectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransluteActivityTheme" />
    </application>

</manifest>